---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

{% if site.project_category %}
  {% for category in site.project_category %}
    {% assign title_shown = false %}
    {% for project in site.projects %}
      <!-- <p>ProjectXYAAAAA: {{ project.category | inspect }}</p> Debug -->
      {% if project.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single-projects.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.projects %}
    {% include archive-single-projects.html %}
  {% endfor %}
{% endif %}